<%= form_with(model: trip, local: true) do |form| %>
<% if trip.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

  <ul>
    <% trip.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>c
  </ul>
</div>
<% end %>
<center>

  <div class="row">

    <div class="panel-body">
      <div class="row">
        <div class="form-group">
          <div class="col-md-6">
            <div class="panel panel-Aka">
              <div class="panel-heading">  <%= form.label :From_Where_to_Where? %></div>
              <div class="panel-body">
                <%= form.text_field :names, id: :trip_names, placeholder:"Escazu to Hatillo", class:'form-control_2'%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-Aka">
              <div class="panel-heading">  <%= form.label :Do_you_have_seats? %></div>
              <div class="panel-body">

                <%= form.select(:seats, ['1','2','3','4','5','6'], {}, { :class => 'form-control' }) %>

                <br/>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-6">
            <div class="panel panel-Aka">
              <div class="panel-heading">  <%= form.label :What_are_you_riding? %></div>
              <div class="panel-body">
                <%= form.text_field :car, id: :trip_car  ,placeholder:"Toyota,Yaris", class:'form-control_2'%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-Aka">
              <div class="panel-heading">  <%= form.label :When_are_you_leaving?%></div>
              <div class="panel-body">
                <%= form.text_field :departure, id: :trip_departure, placeholder:"5:50a.m.",class:'form-control_2' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <div class="panel panel-Aka">
              <div class="panel-heading">  <%= form.label :What_Do_You_Pass_By? %></div>
              <div class="panel-body">
                <%= form.text_field :placemarks, id: :trip_PlaceMarks  ,placeholder:"'Walmart San Sebastian, Comercial del Sur,Parque De La Paz'", class:'form-control_2'%>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

  <% end %>
