<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>


  <tbody>
    <% @trips.where(:departure=>'5:50a.m.').each  do |trip| %>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading "  >
            <div class="row">
              <div class="col-md-11">
                <div class="large">
                  <font color="white"><b><%= trip.names %></b></font>
                </div>
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>

          <div class="panel-body">
            <label for=Departure ><font color="#0086bc" size="4">  <i class="fa fa-clock-o " aria-hidden="true"></i> <font color="Gray"> Departure Time:  <font color="black"><%= trip.departure %></font></font></label>
          </div>
          <div class="panel-body">
            <label for=Model ><font color="#0086bc" size="4"><i class="fa fa-car " aria-hidden="true"></i><font color="Gray">  Car Model:  <font color="black"><%= trip.car %></font></font></label>
          </div>
          <div class="panel-body">
            <label for=Placemarks ><font color="#0086bc" size="4"><i class="fa fa-map-marker " aria-hidden="true"></i> <font color="Gray">   Placemarks:  <font color="black"><%= trip.placemarks %></font></font></label>
          </div>
          <div class="panel-body">
            <label for=Seats><font color="#0086bc" size="4"><i class="fa fa-users " aria-hidden="true"></i> <font color="Gray"> Seats:  <font color="black"><%= trip.seats %></font></font></label>
          </div>
          <hr>
          <div class="panel-body">
            <font color="white"><b><%= link_to '<i class="fa fa-edit " aria-hidden="true"></i> Edit    '.html_safe, edit_trip_path(trip) %><span style="margin-left: 5em;"><%= link_to '           <i class="fa fa-close " aria-hidden="true"></i> Delete'.html_safe, trip, method: :delete, data: { confirm: 'Are you sure?' } %></b></span></font>
          </div>





        </div>
      </div>
    </div>

    <% end %>
    <div class="row">
    <div class="col-md-12">
    <font color="white"><%= link_to 'New Trip', new_trip_path,class:"btn login-btnTrip1 btn-block btn-block-login" %></b></span></font>
  </div>
  </div>
  </tbody>
</table>

<br>
