<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Namesssss</th>
      <th>Seats</th>
      <th>Car</th>
      <th>Departure</th>
      <th>Placemarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>


    <div class="row">
      <div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading "  > <div class="large"><font color="white"><b><%= trip.names %></b></font></div></div>
          <div class="panel-body">
            <label for=Seats><font color="#0086bc" size="4"><i class="fa fa-users " aria-hidden="true"></i> <font color="Gray"> Seats:  <font color="black"><%= trip.seats %></font></font></label>
					</div>
          <div class="panel-body">
            <label for=Model ><font color="#0086bc" size="4"><i class="fa fa-car " aria-hidden="true"></i><font color="Gray">  Car Model:  <font color="black"><%= trip.car %></font></font></label>
					</div>
          <div class="panel-body">
            <label for=Departure ><font color="#0086bc" size="4">  <i class="fa fa-clock-o " aria-hidden="true"></i> <font color="Gray"> Departure Time  <font color="black"><%= trip.departure %></font></font></label>
					</div>
          <div class="panel-body">
            <label for=Placemarks ><font color="#0086bc" size="4">   <i class="fa  fa-map-marker " aria-hidden="true"></i> <font color="Gray"> Placemarks:  <font color="black"><%= trip.placemarks %></font></font></label>
					</div>
				</div>
			</div>
		</div>
      <tr>
        <td></td>
        <td><%= trip.seats %></td>
        <td><%= trip.car %></td>
        <td><%= trip.departure %></td>
        <td><%= trip.placemarks %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
