
<div class="row">
	<center><img src="https://i.imgur.com/S3VmdR0.png"  class="img-responsive" height="300" width="500"></center>
	<br>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading"><b> Log In <i class="fa fa-pencil" aria-hidden="true"></i></b></div>
			<div class="panel-body">
				<%= render 'layouts/messages' %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-group">
            <%= f.email_field :email, autofocus: true , class: 'form-control',placeholder:"Email"%>
					</div>
					<div class="form-group">
            <%= f.password_field :password, autocomplete: "off" ,class: 'form-control',placeholder:"Password"%>
					</div>
					<div class="form-group">
						<%= f.button "Login", :class => 'btn btn-primary btn-block btn-block-login' %>
					</div>
        <% end %>

		</div>
	</div><!-- /.col-->
	<div class="small_text">
	<center><%= render "devise/shared/links" %></center>
</div>
</div><!-- /.row -->


<!-- <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="checkbox">
      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
      <% end -%>
    </div>
  </fieldset>
<% end %> -->
