<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AkarPool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Custom Font-->
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  	<!--[if lt IE 9]>
  	<script src="js/html5shiv.js"></script>
  	<script src="js/respond.min.js"></script>
  	<![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span></button>
  				<a class="navbar-brand" href="#"><center><img src="https://i.imgur.com/P91IFY7.png"  class="img-responsive" height="200" width="200"></center></a>
  				<ul class="nav navbar-top-links navbar-right">
  					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
  						<em class="fa fa-envelope"></em><span class="label label-danger">15</span>
  					</a>
  						<ul class="dropdown-menu dropdown-messages">
  							<li>
  								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
  									<img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
  									</a>
  									<div class="message-body"><small class="pull-right">3 mins ago</small>
  										<a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
  									<br /><small class="text-muted">1:24 pm - 25/03/2015</small></div>
  								</div>
  							</li>
  							<li class="divider"></li>
  							<li>
  								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
  									<img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
  									</a>
  									<div class="message-body"><small class="pull-right">1 hour ago</small>
  										<a href="#">New message from <strong>Jane Doe</strong>.</a>
  									<br /><small class="text-muted">12:27 pm - 25/03/2015</small></div>
  								</div>
  							</li>
  							<li class="divider"></li>
  							<li>
  								<div class="all-button"><a href="#">
  									<em class="fa fa-inbox"></em> <strong>All Messages</strong>
  								</a></div>
  							</li>
  						</ul>
  					</li>
  					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
  						<em class="fa fa-bell"></em><span class="label label-info">5</span>
  					</a>
  						<ul class="dropdown-menu dropdown-alerts">
  							<li><a href="#">
  								<div><em class="fa fa-envelope"></em> 1 New Message
  									<span class="pull-right text-muted small">3 mins ago</span></div>
  							</a></li>
  							<li class="divider"></li>
  							<li><a href="#">
  								<div><em class="fa fa-heart"></em> 12 New Likes
  									<span class="pull-right text-muted small">4 mins ago</span></div>
  							</a></li>
  							<li class="divider"></li>
  							<li><a href="#">
  								<div><em class="fa fa-user"></em> 5 New Followers
  									<span class="pull-right text-muted small">4 mins ago</span></div>
  							</a></li>
  						</ul>
  					</li>
  				</ul>
  			</div>
  		</div><!-- /.container-fluid -->
  	</nav>
  	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  		<div class="profile-sidebar">
  			<div class="profile-userpic">
  				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
  			</div>
  			<div class="profile-usertitle">
        </br>
  				<div class="profile-usertitle-name">Username</div>
  			</div>
  			<div class="clear"></div>
  		</div>
  		<div class="divider"></div>
  		<ul class="nav menu">
  			<li class='active' ><%= link_to raw('<em class="fa fa-dashboard">&nbsp;</em> Welcome</a>'), welcome_index_path %></li>
  			<li ><%= link_to raw('<em class="fa fa-car">&nbsp;</em> Driver'), new_trip_path %></li>
  			<li ><%= link_to raw('<em class="fa fa-user">&nbsp;</em> Passenger'), trips_path %></li>
  			<li ><%= link_to raw('<em class="fa fa-toggle-off">&nbsp;</em> Settings'), edit_user_registration_path %></li>
  				</a>
  			</li>
  			<li>
<<<<<<< HEAD
          <%= link_to(raw('<em class="fa fa-power-off">&nbsp;</em> Logout'), destroy_user_session_path, :method => :delete) %>
=======
          <%= link_to(raw('<em class="fa fa-power-off">&nbsp;</em> Logout'), destroy_user_session_path, :method=>  :delete )%>
>>>>>>> 48e4fee39fcaef46ae00b33c467b6f2c20a17b4a
          <!-- <a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a> -->
        </li>
  		</ul>
  	</div><!--/.sidebar-->

  	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


  		<div class="row">
  			<div class="col-md-12">
  				<div class="panel panel-default">
  					<div class="panel-body">
  						<%= yield %>
  					</div>
  				</div>
  			</div>
  		</div><!--/.row-->

  	</div>	<!--/.main-->
  </body>
</html>
